html{
    font-family: sans-serif;
    font-weight: bold;
}
p{
    margin: 0;
}
#canvas{
    border: 1px black solid;
    display: block;
    margin: auto;
}
button{
    background: royalblue;
    border: royalblue;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}

button:hover{
    background: #3498DB;
}

button.erase{
    background: #D91E18;
    margin: 10px auto;
    display: block;
}

button.erase:hover{
    background: #EF4836;
}

button.reset{
    background: #D91E18;
    vertical-align: middle;
    font-size: 15px;
    margin-top: 15px;
}

button.reset:hover{
    background: #EF4836;
}
#button-container{
    padding: 15px 20% 15px 20%;
}

input[type="checkbox"]{
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.switch{
    position: relative;
    left: 0;
    width: 70px;
    border: 1px solid grey;
    border-radius: 4px;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}
.switch-button{
    width: 50%;
    background-color: royalblue;
    height: 100%;
    border: 0 royalblue solid;
    border-radius: 4px;
}

input[type="checkbox"]:not(:checked) ~ .switch-button{
    -moz-transition: -moz-transform 0.5s, background-color 0.5s;
    -webkit-transition: -webkit-transform 0.5s, background-color 0.5s;
    background-color: grey;
    -moz-transform: translateX(35px);
    -webkit-transform: translateX(35px);
}


input[type="checkbox"]:checked ~ .switch-button{
    -moz-transition: -moz-transform 0.5s, background-color 0.5s;
    -webkit-transition: -webkit-transform 0.5s, background-color 0.5s;
    background-color: royalblue;
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

#monitoring{
    position: absolute;
    right: 0;
    padding: 10px;
    color: white;
    min-height: 100px;
    background: royalblue;
    border: 1px royalblue solid;
    border-radius: 4px;
}
#monitoring > p{
    font-size: 20px;
    margin: 0;
}
#monitoring > section{
    background: #59ABE3;
    border: 1px solid #59ABE3;
    border-radius: 4px;
    padding: 5px;
}

#monitoring > section > p{
    margin: 0;
}

#loop-settings{
    display: inline-block;
    position: absolute;
}

#loop-settings > section{
    margin-bottom: 10px;
    text-align: center;
}

#loop-settings > section > input[type='text']{
    display: block;
    margin: auto;
    width: 30px;
}

#range{
    display: inline-block;
}

#variables{
    text-align: center;
}